<!DOCTYPE html>
<html>
<head>
  <title>Music</title>

  <%= favicon_link_tag       'http://media02.hongkiat.com/high-quality-photoshop-psd/speaker.jpg' %>
  <%= favicon_link_tag    'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/320/headphone_1f3a7.png' %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
